<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="OAuthClientName" value="**YOUR_CLIENT_ID**" />
    <add key="OAauthClientSecret" value="**YOUR_CLIENT_SECRET**" />
    <add key="LicensedAppId" value="" />
    <add key="AuthorizeEndPoint" value="https://login.wolterskluwer.eu/auth/core/connect/authorize" />
    <add key="TokenEndPoint" value="https://login.wolterskluwer.eu/auth/core/connect/token" />    
  </appSettings>
</configuration>


